* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    background: url("../images/HD-Hogwarts-Castle-Background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 100%;

}
.container {
    position: relative;
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0.9;
}
header {
    text-align: center;
}
/*header img {
    max-height: 200px;
}*/
main {
    position: relative;
    height: auto;
    clear: both;
    padding: 30px;

}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.col-md-4 {
    width: 33.33%;
    float: left;
}
.col-md-8 {
    width: 66.66%;
    float: right;
    text-align: center;
}
img {
    max-width: 100%;
}
.hangmanImg {
    max-width: 100%;
}
p {
    margin-bottom: 10px;
    text-align: center;
}
footer p {
    font-size: 75%;
    padding-bottom: 10px;
}
.letters {
    margin-top: 20px;
    font-size: 1.3rem;
    line-height: 120%;
    letter-spacing: 105%;
    margin-bottom: 20px;
}
.btn {
    padding: 10px;
    font-size: 1rem;
    background-color: #1e0c40;
    color: #fff;
    display: inline-block;
}
.btn:hover {
    background-color:#8315c4;
}
.gameMessage {
    color: #8315c4;
    display: block;
}
.resetHidden {
    display: none;
}
.resetShow {
    display: inline-block;
}
.modal-content {
    background: #fff;
}
@media screen and (max-width: 640px) {
    .container {
        width: 100%;
    }
    .col-md-4 {
        width: 100%;
        float: none;
        display: block;
        clear: both;
    }
    .col-md-8 {
        width: 100%;
        float: none;
        display: block;
        clear: both;
        text-align: center;
    }
    .hangmanImg {
        max-height: 300px;
    align-content: center;    
    }
}